.feature-list {
  margin-left: -30px;

  &__item {
    margin-left: 30px;
  }

  @media screen and (max-width: 767px) {
    display: block;
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    &__item:not(:nth-child(n + 3)) {
      margin-bottom: 30px;
    }
    &__item {
      width: calc(100% / 2 - 30px);
    }
  }

  @media screen and (min-width: 1200px) {
    &__item:nth-child(n + 1) {
      margin-bottom: 0;
      width: calc(100% / 4 - 30px);
    }
  }

  &__block-icon {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: $bg-color-light;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__icon {
    margin: auto;
  }
  &__title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    line-height: 1.71;
  }
}
