// button open/close
.button-nav {
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: $bg-color-white;
  margin: 10px 0 10px auto;
}

.button-nav {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-nav__icon {
  margin: auto;
  fill: $title-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button-nav:hover &,
  .button-nav:focus & {
    fill: $accent-color;
  }
}

.button-nav .button-nav__icon-close {
  display: none;
}

.button-nav.button-nav--is-open .button-nav__icon-close {
  display: block;
}

.button-nav.button-nav--is-open .button-nav__icon-menu {
  display: none;
}

.button-nav .button-nav__icon-menu {
  display: block;
}

// Menu
.menu-continer {
  display: none;
}

.menu-continer.menu-continer--is-open {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  background-color: fuchsia;
}

.menu-continer.menu-continer--is-open {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
